.frontpage {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
  }
  
  .content-box {
    background-color: rgba(52, 67, 78, 0.9);
    width: 40%;
    max-height: 100%;
    padding: 2rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    overflow-y: auto;
  }
  
  .text-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
  }
  
  .main-header {
    font-size: 2.5rem;
    font-family: "Myriad Pro", sans-serif;
    margin-bottom: 1.5rem;
  }
  
  .section h2 {
    font-size: 1.5rem;
    font-family: Arial, sans-serif;
    font-family: "ModernSans", sans-serif; /* Brug den nye skrifttype */
    margin-bottom: 1.5rem;
  }
  
  
  .section h2 {
    font-family: "JetBrainsMono Bold", monospace; /* Fed JetBrains Mono */
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 1.5rem;
  }
  
  .section p {
    font-size: 1rem;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin-bottom: 1.5rem;
  }
  @front-faceJetBrainsMono {
    font-family: "JetBrainsMono", monospace; /* Normal JetBrains Mono */
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.6;
    margin-bottom: 1.5rem;
  }
  @font-face {
    font-family: "ModernSans";
    src: url("../assets/ModernSans-Light.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }

  
  

  

  .frontpage-button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: #183153;
    font-family: "Montserrat", sans-serif;
    box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    cursor: pointer;
    border: none;
  }
  
  .frontpage-button:after {
    content: " ";
    width: 0%;
    height: 100%;
    background: white;
    position: absolute;
    transition: all 0.4s ease-in-out;
    right: 0;
  }
  
  .frontpage-button:hover::after {
    right: auto;
    left: 0;
    width: 100%;
  }
  
  .frontpage-button span {
    text-align: center;
    text-decoration: none;
    width: 100%;
    padding: 18px 25px;
    color: #fff;
    font-size: 1.125em;
    font-weight: 700;
    letter-spacing: 0.1em;
    z-index: 20;
    transition: all 0.3s ease-in-out;
  }
  
  .frontpage-button:hover span {
    color: #183153;
    animation: scaleUp 0.3s ease-in-out;
  }
  
  @keyframes scaleUp {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(0.95);
    }
    100% {
      transform: scale(1);
    }
  }
  